html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f8fafc;
    font-family: 'Inter', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    width: 340px;
    text-align: center;
    padding: 2rem;
}

.logo {
    background: #0b0b20;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
    font-weight: bold;
}

.input-box {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    background-color: #0b0b20;
    color: white;
    border: none;
    padding: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
}

.register-link {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}